.signup-containers {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-label {
  font-family: cursive;
  display: flex;
};

.signup-input {
  border-radius: 20px;
}

.signup-button {
  width: 100%;
    background-color: #FF5A5F;
    border: 3px solid black;
    color: white;
    padding: 3px 10px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
    position: relative;
    /* left: 40px; */
}
