.edit-spot-form-container {
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.create-form-header{
    margin: 0;
    text-align: center;
}

.edit-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}

.edit-input {
    margin-top: 10px;
    width: 100%;
    height: 20px;
    border-radius: 2px;

    background-color: skyblue;
    padding: 5px;
    font-size: 16px;
}

.location-label {
    display: inline-block;
    margin-right: 10px;
}

.location-input {
    display: inline-block;
    width: 150px;
}

.submit-spot{
    background-color: #FF5A5F;
    border: 3px solid black;
    color: white;
    padding: 3px 10px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
    display:block;
    text-align: center;
}

.spot-line-break {
    border-width: 2px;
    border-color: black;
    border-style: solid;
}
